 body {
   font-family: Arial, sans-serif;
    margin: 0%;
    padding: 0;
   font-size: 120%;
    background-color: #ADBC9F;

}
header {
background-color: #254336;
color: #0e0505;
text-align: center;
padding: 1em 0;
box-shadow: #444;
}

.introduction {
    padding: 1em;
    background-color: #6B8A7A;
}

.journey ul li {

color: #333;
margin-left: 1em;
}

main > section {

    margin: 2em;
    padding: 1em;
    border-radius: 8px;
}

.introduction + .journey {

    background-color: #DAD3BE;
} 

.introduction ~ .journey {

    border-left: 5px solid #B7B597;
}

.dragon-encounter::before {

    margin: 0 auto 1em;
    max-width: 100%;
    height: auto;
}

footer {

    background-color: #333;
    color: #f9f9f9;
    text-align: center;
    padding: 1em 0;
    position: absolute,
    width: 100%;
    bottom: 0;
    
}

